  <div id="logo-div">
    <ion-text color="medium">
      <p>{{title ? title : ''}}</p>
      <img src="../../../assets/icon/if_logo.jpg" class="logo_login" />
      <h3>IFinanças</h3>
    </ion-text>
  </div>