<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="if" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro comercial" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="if" name="document" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição  da conta"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="if" name="wallet" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor da conta"></ion-input>
    </ion-item>

    <ion-radio-group formControlName="tipo">

      <ion-item>
        <ion-label>Pago</ion-label>
        <ion-radio slot="start" value="pagar"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="receber" ></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
  </form>
</ion-content>
